$spacer: 5rem;
$enable-rounded: false;
$enable-shadows: true;

$theme-colors:(
    "primary" : #0074d9,
    "danger" : #ff4136,
    "imob" : #f4645f,
);

@import "../../node_modules/bootstrap/scss/bootstrap";